/**/.vscode/
/**/.git/
/**/bin/
/**/build/
/**/*.zip
/**/*.exe
/**/*.o
/**/*.res
/**/*.cpp
coba.c
coba.exe
/.dir/**/
/.dir/root/copy/**
/.dir/root/cut/**
!/.dir/root
!/.dir/root/src
!/.dir/root/copy
!/.dir/root/cut
!/.dir/trash
