# Abaikan semua konfigurasi vscode dan git
/**/.vscode/
/**/.git/

# Abaikan semua file dan direktori hasil build atau kompilasi
/**/bin/
/**/build/

# Abaikan semua file dengan ekstensi tertentu
/**/*.zip
/**/*.exe
/**/*.o
/**/*.res
/**/*.cpp

# Abaikan semua file sementara 
coba.c
coba.exe

# Abaikan semua file dalaam direktori .dir
/.dir/root/copy/**
/.dir/root/cut/**
/.dir/**

# 
!/.dir/
!/.dir/root/
!/.dir/root/test/
!/.dir/root/copy/
!/.dir/root/cut/
!/.dir/trash/
